h1,h2{
	color:red;
	background-color:yellow;
	text-align:center;
	}
		   
.bluep{
	color:white;
	background-color:blue;
	text-align:left;
	}
		   
.greenp{
	color:white;
	background-color:green;
	text-align:right;
	}
		   
.upper{
	text-transform:uppercase;
	}