.container {
  display: grid;
  grid-template-columns: repeat(fit, minmax(50px,1fr));
  gap: 20px;
}

.item {
  background-color: lightgray;
  padding: 10px;
  text-align: center;
}

@media (min-width: 500px) {
  .container {
    grid-template-columns: repeat(fit, minmax(150px,1fr));
  }
}
